@font-face {
font-family: 'Helvetica Neue';
src: url('../fonts/Helvetica\ Neue\ W01\ 77\ Bd\ Cn\ Obl.otf') format('otf'),
     url('../fonts/Helvetica\ Neue\ LTW0697BlkCnObl.ttf') format('ttf');
font-weight: 700;
font-style: normal;
}




@font-face {
font-family: 'Helvetica Neue';
src: url('../fonts/Helvetica\ Neue\ LTW0697BlkCnObl.otf') format('otf'),
     url('../fonts/Helvetica\ Neue\ LTW0697BlkCnObl.ttf') format('ttf');
font-weight: 400;
font-style: normal;

}




@font-face {
font-family: 'Helvetica Neue';
src: url('../fonts/Helvetica\ Neue\ W01\ 66\ Medium\ It.otf') format('otf'),
     url('../fonts/Helvetica\ Neue\ W01\ 66\ Medium\ It.ttf') format('ttf');
font-weight: 500;
font-style: normal;

}